In [55]:
import math
import seaborn as sns
import collections as cl
import numpy as np
df_iris = sns.load_dataset("iris")
iris_classe = 'species'

In [56]:
df_iris15 = df_iris.sample(15, random_state=1)

In [57]:
def entropiaAll(valores):
    counter = cl.Counter(valores)
    vp = [ (n/len(valores)) for n in counter.values() ] 
    somatorio = 0
    for p in vp :
        somatorio += 0 if (p == 0) else p * np.log2(p)    
    return somatorio * (-1)

In [58]:
entropiaDF = entropiaAll(df_iris15)
entropiaDF

1.3022968652028397

In [59]:
df_iris15a = df_iris15[['sepal_length', iris_classe]]
df_iris15a.sort_values(by='sepal_length')

     sepal_length     species
29            4.7      setosa
98            5.1  versicolor
44            5.1      setosa
16            5.4      setosa
5             5.4      setosa
94            5.6  versicolor
14            5.8      setosa
78            6.0  versicolor
56            6.3  versicolor
51            6.4  versicolor
75            6.6  versicolor
141           6.9   virginica
120           6.9   virginica
102           7.1   virginica
131           7.9   virginica

<h2> Split Points </h2>
<h4>1. Entre 4.7 e 5.1 = (4.7 + 5.1)/2 = 4.9</h4>
<h4>2. Entre 5.1 e 5.1 = (5.1 + 5.1)/2 = 5.1</h4>
<h4>3. Entre 5.4 e 5.6 = (5.4 + 5.6)/2 = 5.5</h4>
<h4>4. Entre 5.6 e 5.8 = (5.6 + 5.8)/2 = 5.7</h4>
<h4>5. Entre 5.8 e 6.0 = (5.8 + 6.0)/2 = 5.9</h4>
<h4>6. Entre 6.6 e 6.9 = (6.6 + 6.9)/2 = 6.75</h4>

In [60]:
sp1=4.9
sp2=5.1
sp3=5.5
sp4=5.7
sp5=5.9
sp6=6.75
df_iris15a.loc[:,('sepal_length <= sp1')] = df_iris15a['sepal_length'].apply(lambda x : x <= sp1).values
df_iris15a.loc[:,('sepal_length <= sp2')] = df_iris15a['sepal_length'].apply(lambda x : x <= sp2).values
df_iris15a.loc[:,('sepal_length <= sp3')] = df_iris15a['sepal_length'].apply(lambda x : x <= sp3).values
df_iris15a.loc[:,('sepal_length <= sp4')] = df_iris15a['sepal_length'].apply(lambda x : x <= sp4).values
df_iris15a.loc[:,('sepal_length <= sp5')] = df_iris15a['sepal_length'].apply(lambda x : x <= sp5).values
df_iris15a.loc[:,('sepal_length <= sp6')] = df_iris15a['sepal_length'].apply(lambda x : x <= sp6).values
df_iris15a

C:\Users\cruti\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\cruti\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,sepal_length,species,sepal_length <= sp1,sepal_length <= sp2,sepal_length <= sp3,sepal_length <= sp4,sepal_length <= sp5,sepal_length <= sp6
14,5.8,setosa,False,False,False,False,True,True
98,5.1,versicolor,False,True,True,True,True,True
75,6.6,versicolor,False,False,False,False,False,True
16,5.4,setosa,False,False,True,True,True,True
131,7.9,virginica,False,False,False,False,False,False
56,6.3,versicolor,False,False,False,False,False,True
141,6.9,virginica,False,False,False,False,False,False
44,5.1,setosa,False,True,True,True,True,True
29,4.7,setosa,True,True,True,True,True,True
120,6.9,virginica,False,False,False,False,False,False
94,5.6,versicolor,False,False,False,True,True,True
5,5.4,setosa,False,False,True,True,True,True
102,7.1,virginica,False,False,False,False,False,False
51,6.4,versicolor,False,False,False,False,False,True
78,6.0,versicolor,False,False,False,False,False,True

In [61]:
entropiaSP1 = -((0.066 * math.log(0.066, 2)) + (0.933 * math.log(0.933, 2)))
print("Entropia SP1: ", entropiaSP1)
entropiaSP2 = -((0.2 * math.log(0.2, 2)) + (0.8 * math.log(0.8, 2)))
print("Entropia SP2: ", entropiaSP2)
entropiaSP3 = -((0.333 * math.log(0.333, 2)) + (0.666 * math.log(0.666, 2)))
print("Entropia SP3: ", entropiaSP3)
entropiaSP4 = -((0.4 * math.log(0.4, 2)) + (0.6 * math.log(0.6, 2)))
print("Entropia SP4: ", entropiaSP4)
entropiaSP5 = -((0.466 * math.log(0.466, 2)) + (0.533 * math.log(0.533, 2)))
print("Entropia SP5: ", entropiaSP5)
entropiaSP6 = -((0.733 * math.log(0.733, 2)) + (0.266 * math.log(0.266, 2)))
print("Entropia SP6: ", entropiaSP6)

Entropia SP1:  0.35215934679507616
Entropia SP2:  0.7219280948873623
Entropia SP3:  0.9188195116732341
Entropia SP4:  0.9709505944546686
Entropia SP5:  0.9971981687378896
Entropia SP6:  0.8366617110320245

In [62]:
print("Ganho SP1: ", entropiaDF - entropiaSP1);
print("Ganho SP2: ", entropiaDF - entropiaSP2);
print("Ganho SP3: ", entropiaDF - entropiaSP3);
print("Ganho SP4: ", entropiaDF - entropiaSP4);
print("Ganho SP5: ", entropiaDF - entropiaSP5);
print("Ganho SP6: ", entropiaDF - entropiaSP6);

Ganho SP1:  0.9501375184077636
Ganho SP2:  0.5803687703154774
Ganho SP3:  0.38347735352960566
Ganho SP4:  0.33134627074817113
Ganho SP5:  0.30509869646495014
Ganho SP6:  0.46563515417081525

<h1> O atributo <strong>sepal_length</strong> possui menor entropia (0.35) quando definimos o split point no ponto 4.9, portanto, seu ganho de informação é maior: <strong>0.95<strong></h1>

In [63]:
df_iris15b = df_iris15[['sepal_width', iris_classe]]
df_iris15b.sort_values(by='sepal_width')

     sepal_width     species
98           2.5  versicolor
94           2.7  versicolor
78           2.9  versicolor
75           3.0  versicolor
102          3.0   virginica
141          3.1   virginica
29           3.2      setosa
120          3.2   virginica
51           3.2  versicolor
56           3.3  versicolor
131          3.8   virginica
44           3.8      setosa
16           3.9      setosa
5            3.9      setosa
14           4.0      setosa

In [64]:
sp1=(3.0 + 3.0)/2
print("1. Entre 3.0 e 3.0: ", sp1)
sp2=(3.1 + 3.2)/2
print("2. Entre 3.1 e 3.2: ", sp2)
sp3=(3.2 + 3.2)/2
print("3. Entre 3.2 e 3.2: ", sp3)
sp4=(3.2 + 3.2)/2
print("4. Entre 3.2 e 3.2: ", sp4)
sp5=(3.3 + 3.8)/2
print("5. Entre 3.3 e 3.8: ", sp5)
sp6=(3.8 + 3.8)/2
print("6. Entre 3.8 e 3.8: ", sp6)

1. Entre 3.0 e 3.0:  3.0
2. Entre 3.1 e 3.2:  3.1500000000000004
3. Entre 3.2 e 3.2:  3.2
4. Entre 3.2 e 3.2:  3.2
5. Entre 3.3 e 3.8:  3.55
6. Entre 3.8 e 3.8:  3.8

In [68]:
df_iris15b.loc[:,('sepal_width <= sp1')] = df_iris15b['sepal_width'].apply(lambda x : x <= sp1).values
df_iris15b.loc[:,('sepal_width <= sp2')] = df_iris15b['sepal_width'].apply(lambda x : x <= sp2).values
df_iris15b.loc[:,('sepal_width <= sp3')] = df_iris15b['sepal_width'].apply(lambda x : x <= sp3).values
df_iris15b.loc[:,('sepal_width <= sp4')] = df_iris15b['sepal_width'].apply(lambda x : x <= sp4).values
df_iris15b.loc[:,('sepal_width <= sp5')] = df_iris15b['sepal_width'].apply(lambda x : x <= sp5).values
df_iris15b.loc[:,('sepal_width <= sp6')] = df_iris15b['sepal_width'].apply(lambda x : x <= sp6).values
df_iris15b

,sepal_width,species,sepal_width <= sp1,sepal_width <= sp2,sepal_width <= sp3,sepal_width <= sp4,sepal_width <= sp5,sepal_width <= sp6
14,4.0,setosa,False,False,False,False,False,False
98,2.5,versicolor,True,True,True,True,True,True
75,3.0,versicolor,True,True,True,True,True,True
16,3.9,setosa,False,False,False,False,False,False
131,3.8,virginica,False,False,False,False,False,True
56,3.3,versicolor,False,False,False,False,True,True
141,3.1,virginica,False,True,True,True,True,True
44,3.8,setosa,False,False,False,False,False,True
29,3.2,setosa,False,False,True,True,True,True
120,3.2,virginica,False,False,True,True,True,True
94,2.7,versicolor,True,True,True,True,True,True
5,3.9,setosa,False,False,False,False,False,False
102,3.0,virginica,True,True,True,True,True,True
51,3.2,versicolor,False,False,True,True,True,True
78,2.9,versicolor,True,True,True,True,True,True

In [66]:
entropiaSP1 = -((0.333 * math.log(0.333, 2)) + (0.666 * math.log(0.666, 2)))
print("Entropia SP1: ", entropiaSP1)
entropiaSP2 = -((0.4 * math.log(0.4, 2)) + (0.6 * math.log(0.6, 2)))
print("Entropia SP2: ", entropiaSP2)
entropiaSP3 = -((0.6 * math.log(0.6, 2)) + (0.4 * math.log(0.4, 2)))
print("Entropia SP3: ", entropiaSP3)
entropiaSP4 = -((0.6 * math.log(0.6, 2)) + (0.4 * math.log(0.4, 2)))
print("Entropia SP4: ", entropiaSP4)
entropiaSP5 = -((0.666 * math.log(0.666, 2)) + (0.333 * math.log(0.333, 2)))
print("Entropia SP5: ", entropiaSP5)
entropiaSP6 = -((0.2 * math.log(0.2, 2)) + (0.8 * math.log(0.8, 2)))
print("Entropia SP6: ", entropiaSP6)

Entropia SP1:  0.9188195116732341
Entropia SP2:  0.9709505944546686
Entropia SP3:  0.9709505944546686
Entropia SP4:  0.9709505944546686
Entropia SP5:  0.9188195116732341
Entropia SP6:  0.7219280948873623

In [67]:
print("Ganho SP1: ", entropiaDF - entropiaSP1);
print("Ganho SP2: ", entropiaDF - entropiaSP2);
print("Ganho SP3: ", entropiaDF - entropiaSP3);
print("Ganho SP4: ", entropiaDF - entropiaSP4);
print("Ganho SP5: ", entropiaDF - entropiaSP5);
print("Ganho SP6: ", entropiaDF - entropiaSP6);

Ganho SP1:  0.38347735352960566
Ganho SP2:  0.33134627074817113
Ganho SP3:  0.33134627074817113
Ganho SP4:  0.33134627074817113
Ganho SP5:  0.38347735352960566
Ganho SP6:  0.5803687703154774

<h1> O atributo <strong>sepal_width</strong> possui menor entropia (0.72) quando definimos o split point no ponto 3.8, portanto, seu ganho de informação é maior: <strong>0.58<strong></h1>

In [69]:
df_iris15c = df_iris15[['petal_width', iris_classe]]
df_iris15c.sort_values(by='petal_width')

     petal_width     species
14           0.2      setosa
29           0.2      setosa
16           0.4      setosa
44           0.4      setosa
5            0.4      setosa
98           1.1  versicolor
94           1.3  versicolor
75           1.4  versicolor
51           1.5  versicolor
78           1.5  versicolor
56           1.6  versicolor
131          2.0   virginica
102          2.1   virginica
141          2.3   virginica
120          2.3   virginica

In [70]:
sp1=(0.4 + 1.1)/2
print("1. Entre 0.4 e 1.1: ", sp1)
sp2=(1.6 + 2.0)/2
print("2. Entre 1.6 + 2.0: ", sp2)

1. Entre 0.4 e 1.1:  0.75
2. Entre 1.6 + 2.0:  1.8

In [72]:
df_iris15c.loc[:,('petal_width <= sp1')] = df_iris15c['petal_width'].apply(lambda x : x <= sp1).values
df_iris15c.loc[:,('petal_width <= sp2')] = df_iris15c['petal_width'].apply(lambda x : x <= sp2).values
df_iris15c

     petal_width     species  petal_width <= sp1  petal_width <= sp2
14           0.2      setosa                True                True
98           1.1  versicolor               False                True
75           1.4  versicolor               False                True
16           0.4      setosa                True                True
131          2.0   virginica               False               False
56           1.6  versicolor               False                True
141          2.3   virginica               False               False
44           0.4      setosa                True                True
29           0.2      setosa                True                True
120          2.3   virginica               False               False
94           1.3  versicolor               False                True
5            0.4      setosa                True                True
102          2.1   virginica               False               False
51           1.5  versicolor               False                True
78           1.5  versicolor               False                True

In [73]:
entropiaSP1 = -((0.333 * math.log(0.333, 2)) + (0.666 * math.log(0.666, 2)))
print("Entropia SP1: ", entropiaSP1)
entropiaSP2 = -((0.733 * math.log(0.733, 2)) + (0.266 * math.log(0.266, 2)))
print("Entropia SP2: ", entropiaSP2)

Entropia SP1:  0.9188195116732341
Entropia SP2:  0.8366617110320245

In [74]:
print("Ganho SP1: ", entropiaDF - entropiaSP1);
print("Ganho SP2: ", entropiaDF - entropiaSP2);

Ganho SP1:  0.38347735352960566
Ganho SP2:  0.46563515417081525

<h1> O atributo <strong>petal_width</strong> possui menor entropia (0.83) quando definimos o split point no ponto 1.8, portanto, seu ganho de informação é maior: <strong>0.47<strong></h1>

In [75]:
df_iris15d = df_iris15[['petal_length', iris_classe]]
df_iris15d.sort_values(by='petal_length')

     petal_length     species
14            1.2      setosa
16            1.3      setosa
29            1.6      setosa
5             1.7      setosa
44            1.9      setosa
98            3.0  versicolor
94            4.2  versicolor
75            4.4  versicolor
51            4.5  versicolor
78            4.5  versicolor
56            4.7  versicolor
141           5.1   virginica
120           5.7   virginica
102           5.9   virginica
131           6.4   virginica

In [76]:
sp1=(1.9 + 3.0)/2
print("1. Entre 1.9 e 3.0: ", sp1)
sp2=(4.7 + 5.1)/2
print("2. Entre 4.7 + 5.1: ", sp2)

1. Entre 1.9 e 3.0:  2.45
2. Entre 4.7 + 5.1:  4.9

In [78]:
df_iris15d.loc[:,('petal_length <= sp1')] = df_iris15d['petal_length'].apply(lambda x : x <= sp1).values
df_iris15d.loc[:,('petal_length <= sp2')] = df_iris15d['petal_length'].apply(lambda x : x <= sp2).values
df_iris15d

     petal_length     species  petal_length <= sp1  petal_length <= sp2
14            1.2      setosa                 True                 True
98            3.0  versicolor                False                 True
75            4.4  versicolor                False                 True
16            1.3      setosa                 True                 True
131           6.4   virginica                False                False
56            4.7  versicolor                False                 True
141           5.1   virginica                False                False
44            1.9      setosa                 True                 True
29            1.6      setosa                 True                 True
120           5.7   virginica                False                False
94            4.2  versicolor                False                 True
5             1.7      setosa                 True                 True
102           5.9   virginica                False                False
51            4.5  versicolor                False                 True
78            4.5  versicolor                False                 True

In [79]:
entropiaSP1 = -((0.333 * math.log(0.333, 2)) + (0.666 * math.log(0.666, 2)))
print("Entropia SP1: ", entropiaSP1)
entropiaSP2 = -((0.733 * math.log(0.733, 2)) + (0.266 * math.log(0.266, 2)))
print("Entropia SP2: ", entropiaSP2)

Entropia SP1:  0.9188195116732341
Entropia SP2:  0.8366617110320245

In [80]:
print("Ganho SP1: ", entropiaDF - entropiaSP1);
print("Ganho SP2: ", entropiaDF - entropiaSP2);

Ganho SP1:  0.38347735352960566
Ganho SP2:  0.46563515417081525

<h1> O atributo <strong>petal_length</strong> possui menor entropia (0.83) quando definimos o split point no ponto 4.9, portanto, seu ganho de informação é maior: <strong>0.47<strong></h1>

<h1>Portanto, o atributo que apresenta o melhor ganho de informação é o "sepal_length" com aproximadamente 0.95 de ganho<h1>